[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
#Requires=sys-devices-platform-gpu-graphics-fb0.device
#After=sys-devices-platform-gpu-graphics-fb0.device

[Service]
ExecStart=/usr/bin/psplash
ExecStop=/usr/bin/psplash-done
Type=oneshot
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=sysinit.target

